In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelBinarizer, OneHotEncoder
from sklearn.preprocessing import StandardScaler, LabelEncoder , OneHotEncoder
from sklearn.pipeline import Pipeline
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
from scikeras.wrappers import KerasClassifier
import pickle

In [3]:
data = pd.read_csv(r'C:\Users\nahid\Desktop\DeepLearning Project\Data\Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [6]:
## Encode categorical variables 
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head(10)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary  Exited
0          1    15634602  Hargrave  ...               1       101348.88       1
1          2    15647311      Hill  ...               1       112542.58       0
2          3    15619304      Onio  ...               0       113931.57       1
3          4    15701354      Boni  ...               0        93826.63       0
4          5    15737888  Mitchell  ...               1        79084.10       0
5          6    15574012       Chu  ...               0       149756.71       1
6          7    15592531  Bartlett  ...               1        10062.80       0
7          8    15656148    Obinna  ...               0       119346.88       1
8          9    15792365        He  ...               1        74940.50       0
9         10    15592389        H?  ...               1        71725.73       0

[10 rows x 14 columns]

In [11]:
## Now onehotencoder for Georaphy 
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])

# to check the new columns name after onehot encoder  
geo_encoder_columns = onehot_encoder_geo.get_feature_names_out(['Geography'])

# First we need to convert the geo_encoder to array then we will abale to create a dataframe. 
geo_encoder_array = geo_encoder.toarray()

geo_encoder_df = pd.DataFrame (geo_encoder_array, columns=geo_encoder_columns)
geo_encoder_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [12]:
## Combine one hot encoder columns with the original data
data= pd.concat([data.drop('Geography', axis=1), geo_encoder_df],axis=1)
data.head()

   RowNumber  CustomerId  ... Geography_Germany  Geography_Spain
0          1    15634602  ...               0.0              0.0
1          2    15647311  ...               0.0              1.0
2          3    15619304  ...               0.0              0.0
3          4    15701354  ...               0.0              0.0
4          5    15737888  ...               0.0              1.0

[5 rows x 16 columns]

In [16]:
## Divide the dataset into independent and dependent featuers 
X= data.drop(['Exited','RowNumber','CustomerId','Surname'],axis=1)
y=data['Exited']

In [17]:
## Split the data in training and testing sets
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [18]:
## Scale these featuers
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [20]:
## Save the encoders and sscaler 
with open('label_encoder_gender_hyp.pkl','wb') as file :
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo_hyp.pkl','wb') as file :
    pickle.dump(onehot_encoder_geo,file)

## Save the scaler file in the pkl formet 
with open('scaler_hyp.pkl','wb') as file:
    pickle.dump(scaler,file)

## Hyperparametertuning for ANN

In [38]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from scikeras.wrappers import KerasClassifier
from sklearn.model_selection import GridSearchCV

# Define a function to create the model
def create_model(neurons=32, layers=1):
    model = Sequential()
    model.add(Dense(neurons, activation='relu', input_shape=(X_train.shape[1],)))

    for _ in range(layers - 1):
        model.add(Dense(neurons, activation='relu'))

    model.add(Dense(1, activation='sigmoid'))
    model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
    
    return model

# Create the KerasClassifier, passing the model creation function
model = KerasClassifier(model=create_model, verbose=0)

# Define the grid search parameters
param_grid = {
    'model__neurons': [16, 32, 64, 128],  # Parameters passed to the model creation function
    'model__layers': [1, 2, 3],           # Parameters passed to the model creation function
    'epochs': [50, 100],                  # Parameters passed to the fit() method
    'batch_size': [10, 20],               # Parameters passed to the fit() method
}

# Perform grid search
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X_train, y_train)

# Print the best parameters
print(f'Best: {grid_result.best_score_} using {grid_result.best_params_}')

c:\Users\nahid\Desktop\DeepLearning Project\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Best: 0.8574993860951178 using {'batch_size': 10, 'epochs': 50, 'model__layers': 2, 'model__neurons': 16}